extends layout
block content
  div.row
    div.span12
    h1 Fleet Hub
  div.row
    div.span12
      form(enctype="multipart/form-data", method="post").well.form-horizontal
        fieldset
          legend Data
          != form
        div.form-actions
          input(type='submit').btn.btn-info
