extends layout
block content
  div.row
    div.span12
      div(style="padding:20px")
        h1
         | DocParse Dispatch
  div.row
    div.span12
      form(method="post").well.form-horizontal
        fieldset
          legend Login
          != form
        div.form-actions
          input(type='submit').btn.btn-success
      hr
  div.row
    div.span12
      p.lead No account? Register for one now
      a(href="/register").btn.btn.btn-large Register new account
