extends layout
block content
  div.row
    div.span12
    h1 Your Repos
  div.row
    div.span12
      - if (repos.length === 0)
          p.lead No repos found
      - else
          table.table.table-striped.table-bordered
            tr
              th Repo
              th Update
              th Deploy
              th Remove
            each repo in repos
              tr
                td #{repo}
                td
                  form(method='post', action='repos/update/' + repo, style='margin:0')
                    input(type='submit', value='Update').btn
                td
                  form(method='post', action='repos/deploy/' + repo, style='margin:0')
                    input(type='submit', value='Deploy').btn
                td
                  a(href='#').btn.btn-danger Remove

  div.row
    div.span12
      a(href='/repos/add').btn.btn-large.btn-success Add Repo